
<div class="content" id="main-content">
  <%if current_user %>
    <h1> <%= "Welcome back, " + user_first_name + "!" %>  </h1>
  <% else %>
    <h1> Please log in! </h1>
  <% end %>

  <br>

  <%= button_to "Commitments",
        commitments_path,
        method: :get, class: "btn btn-lg btn-primary" if current_user %>
</div>


